!-- General
URxvt.geometry: 80*20
URxvt.termName: xterm-256color
URxvt.loginShell: true
URxvt.visualBell: true
URxvt.urgentOnBell: true

!-- Scrolling
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollTtyOuput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true


!-- Fonts
!- fontconfig
Xft.autohint: true
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: true
Xft.antialias: false 
Xft.dpi: 96
Xft.rgba: rgb

!- Droid Sans Mono
URxvt.font: xft:Droid Sans Mono:pixelsize=10:Regular
URxvt.boldFont: xft:Droid Sans Mono:pixelsize=10:Bold
URxvt.italicFont: xft:Droid Sans Mono:pixelsize=10:Italic
URxvt.boldItalicFont: xft:Droid Sans Mono:pixelsize=10:Bold:Italic
URxvt.letterSpace: -1


!-- Theme
!- Elements
URxvt.background: #1C1B1A
URxvt.foreground: #FFFFFF
URxvt.cursorColor: #AEEE00
URxvt.fadeColor: #000000

!- Appearance
URxvt.cursorBlink: true
URxvt.fading: 20
URxvt.colorBD: #AEEE00
URxvt.borderLess: false

!- Palette
*color0: #141413
*color8: #000000
*color1: #FF2C4B
*color9: #FF2C4B
*color2: #AEEE00
*color10: #AEEE00
*color3: #FADE3E
*color11: #FFA724
*color4: #0A9DFF
*color12: #0A9DFF
*color5: #FF9EB8
*color13: #FF9EB8
*color6: #8CFFBA
*color14: #8CFFBA
*color7: #D9CEC3
*color15: #FFFFFF


!-- Perl Extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
