!-- General
URxvt.geometry: 80!--*20
URxvt.termName: xterm-256color
URxvt.loginShell: true
URxvt.visualBell: true
URxvt.urgentOnBell: true

!-- Scrolling
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollTtyOuput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true


!-- Fonts
!- fontconfig
Xft.autohint: true
Xft.antialias: true 
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!- Droid Sans Mono
URxvt.font: xft:Droid Sans Mono:pixelsize=10:Regular
URxvt.boldFont: xft:Droid Sans Mono:pixelsize=10:Bold
URxvt.italicFont: xft:Droid Sans Mono:pixelsize=10:Italic
URxvt.boldItalicFont: xft:Droid Sans Mono:pixelsize=10:Bold:Italic
URxvt.letterSpace: -1


!-- Theme
!- Elements
URxvt.background: #121419
URxvt.foreground: #808080
URxvt.cursorColor: #808080
URxvt.fadeColor: #000000

!- Appearance
URxvt.cursorBlink: true
URxvt.fading: 20
URxvt.colorBD: #AEEE00
URxvt.borderLess: false

!- Palette
!--*color0: #141413
!--*color8: #000000
!--*color1: #FF2C4B
!--*color9: #FF2C4B
!--*color2: #AEEE00
!--*color10: #AEEE00
!--*color3: #FADE3E
!--*color11: #FFA724
!--*color4: #0A9DFF
!--*color12: #0A9DFF
!--*color5: #FF9EB8
!--*color13: #FF9EB8
!--*color6: #8CFFBA
!--*color14: #8CFFBA
!--*color7: #D9CEC3
!--*color15: #FFFFFF


*color0: #5F5F5F
*color8: #848484
*color1: #BF5768
*color9: #E8909B
*color2: #82BF9F
*color10: #9EDCBB
*color3: #E2C07D
*color11: #F3D79F
*color4: #5C95B3
*color12: #8AB5E4
*color5: #956D9D
*color13: #C08CCA
*color6: #88C9C4
*color14: #B4B4D5
*color7: #D0D0D0
*color15: #F7F7F7


!-- Perl Extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
