!-- Core
URxvt.geometry: 80!--*20
URxvt.termName: xterm-256color
URxvt.loginShell: true
URxvt.visualBell: true
URxvt.urgentOnBell: true

!-- Scrolling
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollTtyOuput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

!-- Keyboard
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-Right: \033[1;5C


!-- Fonts
!- fontconfig
Xft.autohint: true
Xft.antialias: true 
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!- Droid Sans Mono
URxvt.font: xft:Droid Sans Mono:pixelsize=10:Regular
URxvt.boldFont: xft:Droid Sans Mono:pixelsize=10:Bold
URxvt.italicFont: xft:Droid Sans Mono:pixelsize=10:Italic
URxvt.boldItalicFont: xft:Droid Sans Mono:pixelsize=10:Bold:Italic
URxvt.letterSpace: -1


!-- Theme
!- Elements
URxvt.background: #000000
URxvt.foreground: #D0D0D0
URxvt.cursorColor: #808080
URxvt.fadeColor: #000000

!- Appearance
URxvt.cursorBlink: true
URxvt.fading: 30
URxvt.colorBD: #AEEE00
URxvt.borderLess: false
URxvt.internalBorder: 0
URxvt.externalBorder: 0

!- Colors
*color0: #2E3436
*color1: #A40000
*color2: #4E9A06
*color3: #C4A000
*color4: #3465A4
*color5: #75507B
*color6: #CE5C00
*color7: #BABDB9
*color8: #555753
*color9: #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #FCAF3E
*color15: #EEEEEC

!-- Perl Extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!-- Xcursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 22
