.git/
*.swp
dotfiles/mpd/.mpd/db
dotfiles/mpd/.mpd/log
dotfiles/mpd/.mpd/pid
dotfiles/mpd/.mpd/state
dotfiles/ncmpcpp/.ncmpcpp/error.log
dotfiles/newsbeuter/.newsbeuter/cache.*
dotfiles/newsbeuter/.newsbeuter/history.*
dotfiles/xmonad/.xmonad/xmonad-*
dotfiles/xmonad/.xmonad/xmonad.errors
dotfiles/xmonad/.xmonad/xmonad.hi
dotfiles/xmonad/.xmonad/xmonad.o
dotfiles/xmonad/.xmonad/lib/*.hi
dotfiles/xmonad/.xmonad/lib/*.o
