.git/
*.swp
dotfiles/.newsbeuter/cache.*
dotfiles/.newsbeuter/history.*
dotfiles/.xmonad/xmonad-*
dotfiles/.xmonad/xmonad.errors
dotfiles/.xmonad/xmonad.hi
dotfiles/.xmonad/xmonad.o
dotfiles/.xmonad/lib/*.hi
dotfiles/.xmonad/lib/*.o
